{% extends "@App/main.html.twig" %}

{% block title %}{{ phrase.translate('ru').text }}{% endblock %}

{% block content %}

    <h5>{{ phrase.translate('ru').text }}</h5>
    <p>{% trans %}in russian{% endtrans %}</p>
    <div class="row">
        <div class="col-3"><div class="row_head">{% trans %}in english{% endtrans %}</div>{{ phrase.translate('en', false).text }}</div>
        <div class="col-3"><div class="row_head">{% trans %}in german{% endtrans %}</div>{{ phrase.translate('de', false).text }}</div>
        <div class="col-3"><div class="row_head">{% trans %}in french{% endtrans %}</div>{{ phrase.translate('fr', false).text }}</div>
        <div class="col-3"><div class="row_head">{% trans %}in spanish{% endtrans %}</div>{{ phrase.translate('es', false).text }}</div>
    </div>

    <div class="row">
        <div class="col-6 pt-4 mx-auto">
            {% if is_granted("ROLE_USER") %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            {% else %}
                <h4 class="mx-auto">{% trans %}Please log in with your account to make а suggestion{% endtrans %}</h4>
            {% endif %}
        </div>
    </div>


    <div class="pt-3">
        <a href="{{ path('homepage') }}"><i class="fas fa-arrow-left"></i> {% trans %} back{% endtrans %}</a>
    </div>
{% endblock %}