{% extends "@App/main.html.twig" %}

{% block title %}{% trans %} Translation shop {% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12  pb-2 mx-auto">
            {% if is_granted("ROLE_USER") %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            {% else %}
                <h4 class="mx-auto">{% trans %}Please log in with your account to create orders{% endtrans %}</h4>
            {% endif %}
        </div>
    </div>

    <h5>{% trans %} Placed Orders {% endtrans %}</h5>

    <div class="row">
        {% for phrase in phrases %}
            <div class="col-3">
                <a href="{{ path('edit_phrase', {'id' : phrase.id}) }}">{{ phrase.translate('ru').text }}</a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
