{% extends "@App/main.html.twig" %}

{% block content %}{% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row">
        <div class="col-5 mx-auto">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <div class="form-group">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                           required="required"/>
                </div>
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required"/>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit"
                           value="{{ 'security.login.submit'|trans }}"/>
                </div>
            </form>
            <div class="pt-3">
                <a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>
            </div>


        </div>
    </div>

    <div class="pt-3">
        <a href="{{ path('homepage') }}"><i class="fas fa-arrow-left"></i> {% trans %} back{% endtrans %}</a>
    </div>

{% endblock content %}
